.nav__items {
  box-sizing: border-box;
  position: fixed;
  background-color: var(--main-color);
  width: 0;
  height: 100%;
  top: 0;
  right: -5px;
  visibility: hidden;
  transition: width 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

@media (min-width: 768px) {
  .nav__items {
    height: auto;
  }

  .nav__items[role='dialog'] {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav__items {
    position: static;
    width: initial;
    visibility: visible;
  }

  .nav_location_merch .nav__items {
    width: 0;
    position: fixed;
  }
}
