.book__description {
  margin: 0;
  font-size: 0.9rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #fff rgba(243, 153, 153, 0);
}

.book__description::-webkit-scrollbar {
  width: 5px;
}

.book__description::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.book__description::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media (min-width: 1024px) {
  .book__description {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .book__description {
    font-size: 1.2rem;
  }
}
