@import url(./__background/page__background.css);

html {
  scroll-behavior: smooth;
}

.page {
  --main-color: #100e0e;
  --secondary-color: #5bc0eb;

  font-family: 'Fjalla One', sans-serif;
  color: #fff;
  background-color: rgba(16, 14, 14, 0.9);
}

@media (min-width: 1440px) {
  .page {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
