@import url(./__text/about__text.css);

.about {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .about {
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .about {
    padding: 0 50px;
  }
}
