.nav__link {
  margin: 0 0 16px 16px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: inline-block;
}

.nav__link[href$='#tweets-articles'] {
  display: none;
}

@media (min-width: 768px) {
  .nav__link[href$='#tweets-articles'] {
    display: inline-block;
  }

  .nav__link[href$='#tweets'] {
    display: none;
  }

  .nav__link[href$='#articles'] {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav__link {
    margin: 0 0 0 16px;
  }

  .nav_location_merch .nav__link {
    margin: 0 0 16px 16px;
  }
}
