.filter-merch__categories {
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  margin: 16px 0 0;
  padding: 0 0 5px;
  display: flex;
  overflow: auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filter-merch__categories::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .filter-merch__categories {
    margin: 0;
  }
}
