.section {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .section {
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 0 50px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 0 100px;
  }
}
