@import url(./__list/books__list.css);

.books {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .books {
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .books {
    padding: 0 50px;
  }
}

@media (min-width: 1440px) {
  .books {
    padding: 0 100px;
  }
}
