@import url(./__list/products__list.css);

.products {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .products {
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .products {
    padding: 0 50px;
  }
}

@media (min-width: 1440px) {
  .products {
    padding: 0 100px;
  }
}
