.loader {
  border-top: 5px solid var(--main-color);
  border: 5px solid var(--main-color);
  border-top-color: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 35px);
  right: calc(50% - 35px);
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
