.page__background {
  /* prettier-ignore */
  background:
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../../../images/background.jpg);
  background-repeat: no-repeat repeat;
  background-size: 100% auto;
  min-height: 100vh;
}
