@import url(./__img/product__img.css);
@import url(./__heading/product__heading.css);
@import url(./__price/product__price.css);
@import url(./__link/product__link.css);

.product {
  display: flex;
  height: 200px;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 16px 0 0;
}

@media (min-width: 425px) {
  .product {
    width: 300px;
  }
}
